 <div class="container">
		<div class="row">

		<div class="col-md-9">

		<table class="table table-striped">
			<thead>
			  <tr>
				<th>SIGLA</th>
				<th>CADEIRA</th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>TSIO</td>
				<td>Tecnologias para Sistemas de Informação Operacionais</td>
				<td><a href="#Cadeira/1">+ info</a></td>
			  </tr>
			  <tr>
				<td>AQ</td>
				<td>Auditoria e Qualidade</td>
				<td><a href="#Cadeira/1">+ info</a></td>
			  </tr>
			  <tr>
				<td>SIAD2</td>
				<td>Sistemas Informáticos de Apoio à Decisão II</td>
				<td><a href="#Cadeira/2">+ info</a></td>
			  </tr>
			  <tr>
				<td>GPTSI</td>
				<td>Gestão de Projectos de Tecnologia e Sistemas de Informação</td>
				<td><a href="#Cadeira/3">+ info</a></td>
			  </tr>
			  <tr>
				<td>DAAM</td>
				<td>Desenvolvimento de Aplicações para Ambientes Móveis</td>
				<td><a href="#Cadeira/4">+ info</a></td>
			  </tr>
			</tbody>
		  </table>


		  

		</div>

		</div>

    </div><!-- /.container -->
	
		